
.container-1 {
    width: 100%;
    margin-left: 400px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.draggable-slider-container {
    position: relative;
    width: 50px;
    border: 1px solid black;
}

.draggable-slider {
    position: absolute;
    width: 50px;
    background-color: #333;
}

.handle {
    position: absolute;
    width: 50px;
    color: #de9000;
    text-align: center;
    cursor: pointer;
    background-color: #bfbfbf;
}

.handle:hover {
    background-color: #777777;
}

.draggableStyle {
    position: relative;
    top: 150px;
    left: 100px;
}
.draggableStyle_h6{
    position: relative;
    top: 190px;
    left: 350px;

}
/**/
/**/
/**/
